<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MunchM8</title>

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">

    <!-- Bootstrap  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!--Stylesheet-->
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="mainBanner">
        <div class="mainNav">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <img class="mainLogo" src="/images/logo.png" width="200">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/login ">Log-In <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/secondary">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Calendar</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="container">
            <div class="row bannerContent d-flex">
                <div class="col-lg-6 col-md-12 slogan">
                    <h1>Got Plans For Dinner Yet?</h1>

                </div>
                 {{{body}}}
            </div>
        </div>
    </div>
    <div class="introSection">
        <div class="container">
            <div class="row appIntro">
                <div class="col-12">
                    <h1>How It Works</h1>
                </div>
                <div class="col-12">
                    <p class="introPara"><b><i>The sharing of food has been a part of the human story since the beginning of time;
                        “To break bread together,” a phrase outlined in the bible, encapsulates the power of a meal in its ability to forge relationships, 
                        bury anger and provoke laughter.</b></i><br><br>

                    <p>Whether you're a tourist looking to dine with locals, trying to network with like-minded individuals, or simply looking to meet a new friend in the city -
                        MunchM8 is a social dining platform that allows you to build new connections with one or more people, while enjoying a delicious meal together. In a time where community cohesion is ever more important, 
                        making time for and joining in communal meals is perhaps the single most important thing we can do – both for our own health and wellbeing and for that of the wider community.'


                    </p>
                        

                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 intro">
                        <img class="introSteps" src="/images/one.svg" width="100" height="100">
                        <h2>Find A Table</h2>
                        <br>
                        <div class="introImageBox">
                            <img class="introImages" src="/images/foodSearch.png" width="320" height="250">
                        </div>
                        <br>
                        <p>Enter your location, filter your food preferences and find tables at restaurants near you with guests waiting to be joined.</p>
                    </div>
                    <div class="col-lg-4 col-md-6 intro">
                        <img class="introSteps" src="/images/two.svg" width="100" height="100">
                        <h2>Co-ordinate</h2>
                        <br>
                    <div class="introImageBox">
                            <img class="introImages" src="/images/chat.jpg" width="320" height="250">
                        </div>
                        <br>
                        <p>Chat with your potential MunchM8(s) via our chat messenger, co-ordinate and make final arrangements before you confirm your meal together </p>
                    </div>
                    <div class="col-lg-4 col-md-6 intro">
                        <img class="introSteps" src="/images/three.svg" width="100" height="100">
                        <h2>Meet & Munch</h2>
                        <br>
                    <div class="introImageBox">
                            <img class="introImages" src="/images/eatingTogether.jpg" width="320" height="250">
                        </div>
                        <br>
                        <p>Meet your new MunchM8(s), enjoy a delicious meal together and relish the opportunity to make new connections.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="aboutUsSection">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 aboutUs">
                    <h3>About Us</h3>
                    <br>
                    <p>MunchM8 is the very first social-dining platform in Hong Kong that allows you to find one or more guests in your area to share a meal with.</p>
                </div>
                <div class="col-lg-3 col-md-6 aboutUs">
                    <h3>Restaurant Reviews</h3>
                    <p>
                        <br><b>The Cheesecake Factory</b><br><br>
                        <i>"itae velit veniam totam fuga
                            molestias accusamus alias autem provident. Odit ab aliquam dolor eius."</p></i>
                </div>
                <div class="col-lg-3 col-md-6 aboutUs">
                    <h3>User Testamonials</h3>
                    <br><b>"Met my new business partner!"</b><br><br>
                    <i>"itae velit veniam totam fuga
                        molestias accusamus alias autem provident. Odit ab aliquam dolor eius."</p></i>
                </div>
                <div class="col-lg-3 col-md-6 aboutUs">
                    <h3>Contact Us</h3>
                    <br>
                    <p><b>Instagram</b>: @MunchM8</p>
                    <p><b>Facebook</b>: @MunchM8</p>
                    <p><b>Email</b>: info@MunchM8.hk</p>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer">
            <p>©2020 MunchM8. All Rights Reserved.</p>
        </div>
    </footer>




    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="index.js"></script>
</body>

</html>