<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MunchM8</title>

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">

    <!-- Bootstrap  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.2/main.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js"></script>

    <!--Stylesheet-->
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="secondPageBanner">
        <div class="mainNav">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <img class="mainLogo" src="/images/logo.png" width="200">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Find A Table<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./profile.html">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Calendar</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="container secPageHeadContainer">
            <div class="row">
                <div class="col-12">
                    <h1 class="secPageHeader">My Munch Profile</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="secPageMain">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="card-deck">
                    <div class="card">
                        <div class="card-header bg-transparent border-success">
                            <h1 class="profileHeader text-center">Jane Smith</h1>
                        </div>
                        <img class="card-img-top" src="/images/jane_smith.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">About Me</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.
                                Dignissimos asperiores vitae velit veniam totam fuga
                                molestias accusamus alias autem provident. Odit ab aliquam dolor eius.
                                molestias accusamus alias autem provident. Odit ab aliquam dolor eius.
                                to additional content. This content is a little bit longer.
                            </p>
                            <h5 class="card-title">Interests</h5>
                            <ul>
                                <li>Knitting</li>
                                <li>Yelling at store managers</li>
                                <li>Driving kids to soccer practice</li>
                            </ul>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 miniCalendar">

                {{{body}}}

            </div>
        </div>
    </div>
    <footer>
        <div class="footer">
            <p>©2020 MunchM8. All Rights Reserved.</p>
        </div>
    </footer>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.4/qs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.2/main.min.js"></script>
    <script src="/js/func.js"></script>
    <script src="/js/chatroom.js"></script>
</body>

</html>